@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@300;400;500;600;700&display=swap");
.container-primary {
  max-width: 132rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.container-secondary {
  max-width: 108.9rem;
  margin: 0 auto;
  padding: 0 2rem;
}

.section-heading {
  font-size: 3.2rem;
  font-weight: 600;
  text-align: center;
  margin: 3.2rem;
}

.grid {
  display: grid !important;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}
@media only screen and (max-width: 53.75em) {
  .grid {
    row-gap: 2.4rem;
  }
}

.grid--1-cols {
  grid-template-columns: 1fr;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}
@media only screen and (max-width: 53.75em) {
  .grid--2-cols {
    grid-template-columns: 1fr;
  }
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}
@media only screen and (max-width: 53.75em) {
  .grid--3-cols {
    grid-template-columns: 1fr;
  }
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}
@media only screen and (max-width: 53.75em) {
  .grid--4-cols {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (max-width: 37.5em) {
  .grid--4-cols {
    grid-template-columns: repeat(2, 1fr);
  }
}

.grid--center-v {
  align-items: center;
}

.text-center {
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 62.5em) {
  html {
    font-size: 50%;
  }
}

body {
  position: relative;
}

@media only screen and (max-width: 37.5em) {
  h2 {
    font-size: 2rem !important;
  }
}

a:link,
a:visited {
  display: inline-block;
  text-decoration: none;
  color: #000000;
}

ul {
  list-style: none;
}

span {
  display: inline-block;
}

*:focus {
  outline: none;
}

@font-face {
  font-family: "Bahnschrift";
  src: url("../../fonts/BAHNSCHRIFT.TTF") format("truetype");
}
@font-face {
  font-family: "Averta";
  src: url("../../fonts/AvertaDemo-Regular.otf") format("truetype");
}
@font-face {
  font-family: "Gotham";
  src: url("../../fonts/GothamLight.ttf") format("truetype");
}
@font-face {
  font-family: "Codec Pro";
  src: url("../../fonts/codec-pro.regular.ttf") format("truetype");
}
body {
  font-family: "Bahnschrift", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1;
}

.about {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.about__photos {
  display: flex;
  gap: 2rem;
  position: absolute;
  top: 5%;
  left: -30%;
  max-width: 100%;
}
@media only screen and (max-width: 75em) {
  .about__photos {
    top: 5%;
    left: -40%;
  }
}
@media only screen and (max-width: 53.75em) {
  .about__photos {
    top: 5%;
    left: -40%;
    gap: 7px;
    max-width: 80%;
  }
}
@media only screen and (max-width: 53.75em) {
  .about__photos {
    top: 15%;
    left: -40%;
    max-width: 75%;
  }
}
.about__photo {
  width: 100%;
}
@media only screen and (max-width: 53.75em) {
  .about__photo {
    width: 30%;
  }
}
@media only screen and (max-width: 37.5em) {
  .about__photo {
    width: 35%;
  }
}
.about__photo--2 {
  transform: translateY(25%);
}
.about__content-box {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  padding: 14rem 31.9rem 20.2rem 25.8rem;
  position: relative;
  grid-column: 2/-1;
  background-color: #f0f0f0;
}
@media only screen and (max-width: 75em) {
  .about__content-box {
    padding: 10rem 22rem 24rem 25.8rem;
  }
}
@media only screen and (max-width: 53.75em) {
  .about__content-box {
    padding: 7rem 15rem 10rem 15rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .about__content-box {
    padding: 7rem 2.5rem 4rem 7.5rem;
  }
}
.about__heading {
  font-size: 3.2rem;
  font-weight: 600;
}
.about__text {
  color: #757575;
  font-size: 2rem;
  font-weight: 350;
  line-height: 1.2;
  word-break: keep-all;
  width: 90%;
}
@media only screen and (max-width: 53.75em) {
  .about__text {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 53.75em) {
  .about__text {
    width: 100%;
  }
}

.section-benefit {
  margin: 12.4rem 0;
}

@media only screen and (max-width: 53.75em) {
  .benefit {
    grid-template-columns: 1fr;
  }
}
.benefit__content-box {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  padding: 8rem 3.2rem 4.8rem 3.4rem;
  box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.0784313725);
}
@media only screen and (max-width: 53.75em) {
  .benefit__content-box {
    grid-row: 2/3;
    text-align: center;
  }
}
.benefit__heading {
  font-size: 3.2rem;
  font-weight: 600;
}
@media only screen and (max-width: 37.5em) {
  .benefit__heading {
    font-size: 2rem;
  }
}
.benefit__text {
  font-size: 1.8rem;
  color: #6a6a6a;
  font-weight: 350;
  line-height: 1.3;
}
.benefit__photo {
  width: 100%;
}

.section-blog {
  margin: 10rem 0 18rem 0;
}

.blog {
  -moz-column-gap: 6.1rem;
       column-gap: 6.1rem;
}
@media only screen and (max-width: 53.75em) {
  .blog {
    row-gap: 3.2rem;
  }
}
.blog__card {
  line-height: 1.25;
  box-shadow: 0px 5px 16px 0px rgba(112, 110, 110, 0.1294117647);
  background-color: #ffffff;
}
.blog__content-box {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  padding-left: 1.7rem;
  padding-top: 1.4rem;
  overflow: hidden;
}
.blog__photo {
  width: 100%;
}
.blog__date {
  color: #404040;
  font-family: "Archivo", sans-serif;
  font-size: 1.2rem;
  letter-spacing: 0.36px;
}
.blog__heading {
  color: var(--grayscale-900, #212121);
  font-size: 2rem;
  font-weight: 400;
}
.blog__text {
  color: var(--grayscale-600, #757575);
  font-size: 1.2rem;
  letter-spacing: 0.36px;
}
.blog__link:link, .blog__link:visited {
  background-color: #49a478;
  color: #ffffff;
  padding: 1rem 2.4rem;
  align-self: flex-start;
  margin-bottom: 2.4rem;
}

.books {
  -moz-column-gap: 10.8rem;
       column-gap: 10.8rem;
  row-gap: 6.5rem;
  margin-top: 11rem;
}
@media only screen and (max-width: 75em) {
  .books {
    -moz-column-gap: 7.2rem;
         column-gap: 7.2rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .books {
    -moz-column-gap: 2.5rem;
         column-gap: 2.5rem;
  }
}
.books__photo {
  width: 100%;
}
.books__btn:link, .books__btn:visited {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
  padding: 1rem 2.4rem;
  background-color: #49a478;
  color: #ffffff;
  margin-top: 1.3rem;
}
.books__content-box {
  line-height: 1.2;
  margin-top: 1.1rem;
}
.books__heading {
  font-size: 2rem;
  font-weight: 600;
}
.books__subheading {
  font-weight: 300;
}

.detail {
  -moz-column-gap: 4rem;
       column-gap: 4rem;
  font-family: "Averta", sans-serif;
}
.detail__photo {
  width: 100%;
}
.detail__content-box {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}
.detail__heading {
  color: #404040;
  font-size: 3.2rem;
  line-height: 1.2;
}
.detail__subheading {
  font-size: 2.4rem;
  font-weight: 300;
  color: #6a6a6a;
}
.detail__text {
  font-size: 2rem;
  line-height: 1.2;
}

.explanation {
  font-size: 2rem;
  line-height: 1.2;
  font-family: "Averta", sans-serif;
  margin-top: 15rem;
}
@media only screen and (max-width: 53.75em) {
  .explanation {
    margin-top: 12rem;
  }
}
.explanation__paragraph {
  font-family: "Averta", sans-serif;
  z-index: 20;
  white-space: pre-wrap;
  word-wrap: break-word;
  text-align: justify;
  line-height: 1.3;
}

.future {
  -moz-column-gap: 22.5rem;
       column-gap: 22.5rem;
}
@media only screen and (max-width: 53.75em) {
  .future {
    gap: 4rem;
  }
}
.future__wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
@media only screen and (max-width: 53.75em) {
  .future__wrapper {
    align-items: center;
    text-align: center;
  }
}
.future__logo-wrapper {
  position: relative;
}
.future__logo {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(50%, 50%);
}
.future__heading {
  font-size: 2rem;
  font-weight: 600;
  margin-top: 1.6rem;
}
.future__text {
  font-weight: 300;
  line-height: 1.25;
}

.guarantee {
  align-items: center;
  -moz-column-gap: 3.4rem;
       column-gap: 3.4rem;
}
.guarantee__photo {
  width: 100%;
}
.guarantee__content-box {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  line-height: 1.3;
}
@media only screen and (max-width: 53.75em) {
  .guarantee__content-box {
    text-align: center;
  }
}
.guarantee__heading {
  font-size: 3.2rem;
  font-weight: 600;
}
.guarantee__text {
  font-size: 1.8rem;
  color: #6a6a6a;
  font-weight: 350;
}

.lesson {
  row-gap: 2.4rem;
}
.lesson__card {
  box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.0784313725);
}
.lesson__photo {
  width: 100%;
}
.lesson__content-box {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  padding: 4.8rem 2.4rem;
}
.lesson__heading {
  font-size: 2.4rem;
  font-weight: 600;
}
.lesson__text {
  font-weight: 300;
  line-height: 1.3;
}

.partners {
  background-color: #f0f0f0;
  padding: 3.5rem 0 3.2rem 0;
}
@media only screen and (max-width: 53.75em) {
  .partners {
    padding-bottom: 7.75rem;
  }
}
.partners__text-box {
  padding: 0 8rem 0 8rem;
}
.partners__text-box p {
  color: #6a6a6a;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 350;
  line-height: 1.2;
}
.partners__content-box {
  -moz-column-gap: 13.5rem;
       column-gap: 13.5rem;
  margin-top: 3rem;
}
@media only screen and (max-width: 53.75em) {
  .partners__content-box {
    row-gap: 10rem;
    margin-top: 9.125rem;
  }
}
.partners__wrapper {
  text-align: center;
}
.partners__text {
  color: #404040;
  font-family: "Averta", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2;
  margin-top: 3.3rem;
}

.qa {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffffff;
  max-width: 60rem;
}
.qa__heading {
  font-size: 3.2rem;
  font-weight: 600;
}
.qa__text {
  font-weight: 300;
  line-height: 1.3;
}

.section-hero {
  margin-top: 7.6rem;
}

.hero__photo-box {
  position: relative;
}
.hero__photo-box--1 {
  display: block;
}
@media only screen and (max-width: 53.75em) {
  .hero__photo-box--1 {
    display: none;
  }
}
.hero__photo-box--2 {
  display: none;
}
@media only screen and (max-width: 53.75em) {
  .hero__photo-box--2 {
    display: block;
  }
}
.hero__photo, .hero__linear {
  width: 100%;
  height: 100%;
}
.hero__photo {
  position: relative;
}
.hero__linear {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}
.hero__heading {
  font-size: 10.8928rem;
  font-weight: 700;
  line-height: 98.201px; /* 90.152% */
  background: linear-gradient(59.53deg, #487e64 0%, #49a478 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: translateY(-78%);
}
@media only screen and (max-width: 53.75em) {
  .hero__heading {
    font-size: 7.5rem;
    line-height: 60px;
    transform: translateY(-70%);
  }
}

.main-footer-section {
  background-color: #262626;
  padding: 5.7rem 7.4rem 2.3rem 7.2rem;
}
@media only screen and (max-width: 53.75em) {
  .main-footer-section {
    padding: 5.7rem 0 2.3rem 0;
  }
}
.main-footer-section .main-footer > div {
  align-items: center;
}
@media only screen and (max-width: 53.75em) {
  .main-footer-section .main-footer {
    row-gap: 6.5rem;
  }
}
.main-footer-section .main-footer__brands {
  display: flex;
  align-items: center;
  gap: 3.959rem;
}
@media only screen and (max-width: 53.75em) {
  .main-footer-section .main-footer__brands {
    gap: 2.4rem;
  }
}
.main-footer-section .main-footer__brands--1 {
  display: flex;
}
@media only screen and (max-width: 37.5em) {
  .main-footer-section .main-footer__brands--1 {
    display: none;
  }
}
.main-footer-section .main-footer__brands--2 {
  display: none;
}
@media only screen and (max-width: 37.5em) {
  .main-footer-section .main-footer__brands--2 {
    display: flex;
  }
}
.main-footer-section .main-footer__social-medias {
  display: flex;
  align-items: center;
  gap: 2.4rem;
  justify-self: end;
}
.main-footer-section .main-footer__title {
  grid-column: -2/-1;
  justify-self: end;
  align-self: end;
  font-family: "Gotham", sans-serif;
  color: #ffffff;
}
@media only screen and (max-width: 53.75em) {
  .main-footer-section .main-footer__brands, .main-footer-section .main-footer__social-medias, .main-footer-section .main-footer__title {
    justify-self: center;
  }
}

.main-hero {
  color: #ffffff;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-left: 3.2rem;
}
@media only screen and (max-width: 53.75em) {
  .main-hero {
    display: flex;
    justify-content: center;
    padding-left: 0;
  }
}
.main-hero__content-box {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  justify-content: center;
  justify-self: right;
}
@media only screen and (max-width: 53.75em) {
  .main-hero__content-box {
    width: 100%;
    justify-self: center;
    padding: 0 1.2rem;
  }
}
.main-hero__heading {
  font-size: 4.8rem;
  font-weight: 600;
}
.main-hero__desc {
  font-weight: 300;
  line-height: 19.2px;
  word-break: keep-all;
  width: 65%;
}
@media only screen and (max-width: 53.75em) {
  .main-hero__desc {
    align-self: center;
  }
}
.main-hero__link:link, .main-hero__link:visited {
  font-size: 1.8rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #ffffff;
  padding: 0.8rem 1.6rem;
  border-radius: 5px;
  border: 1px solid #ffffff;
  margin-top: 2.4rem;
  align-self: start;
}
@media only screen and (max-width: 53.75em) {
  .main-hero__link:link, .main-hero__link:visited {
    display: none;
  }
}
.main-hero__logo-box {
  display: flex;
  align-items: center;
  gap: 4rem;
  margin-top: 8rem;
}
@media only screen and (max-width: 53.75em) {
  .main-hero__logo-box {
    margin-top: 4rem;
    align-self: center;
  }
}
@media only screen and (max-width: 53.75em) {
  .main-hero__logo-box--1 {
    display: none;
  }
}
.main-hero__logo-box--2 {
  display: none;
}
@media only screen and (max-width: 53.75em) {
  .main-hero__logo-box--2 {
    display: flex;
  }
}
.main-hero__slider-box {
  position: relative;
  width: 100%;
}
@media only screen and (max-width: 53.75em) {
  .main-hero__slider-box {
    display: none;
  }
}
.main-hero__slider-box img:not(:first-child) {
  position: absolute;
  top: 0;
  left: 0;
}
.main-hero__photo {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0;
  transition: all 0.7s linear;
}
.main-hero .show {
  opacity: 1;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.1019607843);
  padding: 1.2rem 0;
  z-index: 100;
  height: 7.6rem;
}
@media only screen and (max-width: 37.5em) {
  .header {
    height: 9rem;
    padding-top: 18px;
  }
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav__logo--1 {
  display: block;
}
@media only screen and (max-width: 37.5em) {
  .nav__logo--1 {
    display: none;
  }
}
.nav__logo--2 {
  display: none;
}
@media only screen and (max-width: 37.5em) {
  .nav__logo--2 {
    display: block;
  }
}
.nav__list {
  display: flex;
  align-items: center;
  gap: 8rem;
  position: relative;
}
@media only screen and (max-width: 62.5em) {
  .nav__list {
    gap: 6.4rem;
  }
}
.nav__link:link, .nav__link:visited {
  color: #3d3d3d;
  position: relative;
  transition: all 0.3s;
}
@media only screen and (max-width: 53.75em) {
  .nav__link:link, .nav__link:visited {
    font-size: 3rem;
  }
}
.nav__lang-login-wrapper {
  display: flex;
  align-items: center;
  gap: 3.2rem;
}
@media only screen and (max-width: 37.5em) {
  .nav__lang-login-wrapper {
    gap: 2rem;
  }
}
.nav__lang {
  font-size: 1.8rem;
  font-weight: 600;
  font-family: inherit;
  cursor: pointer;
  border: none;
  padding: 0.8rem;
}
.nav__login:link, .nav__login:visited {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.8rem 4.8rem;
  color: #ffffff;
  background: linear-gradient(to right, #487e64, rgba(73, 164, 120, 0.6509803922));
  box-shadow: -5px 4px 10px 0px rgba(106, 223, 202, 0.3490196078);
}
@media only screen and (max-width: 37.5em) {
  .nav__login:link, .nav__login:visited {
    padding: 9.103px 26.586px 10.897px 25.276px;
  }
}
.nav__burger, .nav__close {
  display: none;
  cursor: pointer;
  transition: opacity 0.1s, transform 0.4s;
}
.nav__close {
  padding-left: 5px;
}

/*  DROPDOWN  */
.nav__item-dropdown {
  cursor: pointer;
}
.nav__item-dropdown:hover .nav__dropdown-menu {
  max-height: 300px;
  pointer-events: auto;
  transition: all 0.4s ease-in;
}
.nav__item-dropdown:hover .dropdown__arrow {
  transform: rotate(180deg);
  transition: transform 0.2s ease-in;
}
.nav__link-dropdown:link, .nav__link-dropdown:visited {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.nav .dropdown__arrow {
  transition: transform 0.2s ease-out;
}
.nav__dropdown-menu {
  position: absolute;
  left: 0;
  width: 230px;
  top: calc(100% + 3rem);
  max-height: 0;
  overflow: hidden;
  border-radius: 5px;
  line-height: 1.2;
  background-color: #ffffff;
  transition: max-height 0.4s ease-out;
}
@media only screen and (max-width: 53.75em) {
  .nav__dropdown-menu {
    position: relative;
    top: 0;
  }
}
.nav__dropdown-link:link, .nav__dropdown-link:visited {
  padding: 2rem;
  font-weight: 350;
  color: #757575;
}
@media only screen and (max-width: 53.75em) {
  .nav__dropdown-link:link, .nav__dropdown-link:visited {
    position: relative;
    left: 0;
    width: 100%;
    font-size: 2rem;
  }
}

/* MOBILE  NAVIAGTION */
@media only screen and (max-width: 53.75em) {
  .nav__list {
    background-color: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 18px 0 0 20px;
    display: flex;
    flex-direction: column;
    gap: 44px;
    align-items: flex-start;
    transition: all 0.5s ease-out;
    transform: translateX(-100%);
    z-index: 999;
    /* Hide it visually */
    opacity: 0;
    pointer-events: none;
    /* Hide it from screen readers */
    visibility: hidden;
  }
  .nav__burger {
    display: block;
  }
  .nav__close {
    display: block;
  }
}
/* SHOW MOBILE NAVIGATION */
.nav--open .nav__list {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
  transform: translateX(0);
}

.section-about {
  margin-bottom: 20rem;
}

.partners-section {
  margin-top: 8rem;
}

.section-blog-detail {
  margin: 9.8rem 0 4.35rem 0;
}

.back-btn:link,
.back-btn:visited {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  margin-bottom: 2.3rem;
}
.back-btn:link p,
.back-btn:visited p {
  font-family: "Averta", sans-serif;
  font-size: 2rem;
}

.section-blog--2 {
  background-color: #e8f3ec;
  margin: 0;
  padding: 10rem 0;
}

.section-blog-explanation {
  padding-top: 1.6rem;
  position: relative;
}
.section-blog-explanation .explanation {
  background-color: #e8f3ec;
}

.ellipse-photo {
  position: absolute;
  top: 10%;
  width: 100%;
}

.section-main-hero {
  margin-top: 7.6rem;
  background: linear-gradient(to right, #487e64, rgba(73, 164, 120, 0.6509803922));
  box-shadow: -5px 4px 10px 0px rgba(106, 223, 202, 0.3490196078);
}
@media only screen and (max-width: 53.75em) {
  .section-main-hero {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-left: 0;
  }
}
@media only screen and (max-width: 53.75em) {
  .section-main-hero {
    height: 100vh;
  }
}

.section-future {
  margin-top: 9.6rem;
}

.guarantee-section {
  margin-top: 4.8rem;
  background: linear-gradient(rgba(99, 178, 47, 0.0862745098), rgba(46, 184, 205, 0.0431372549));
  padding: 9.6rem 0;
}

.lesson-section {
  margin: 8rem 0;
}

.section-qa {
  padding: 6.4rem 0;
  background: linear-gradient(to right, #487e64, rgba(73, 164, 120, 0.6509803922));
}

.blog-heading {
  font-family: "Averta", sans-serif;
  font-size: 3.2rem;
  color: #404040;
  word-wrap: break-word;
  margin-bottom: 1.8rem;
}

.section-lesson-detail {
  margin-top: 15.2rem;
}
.section-lesson-detail .detail {
  -moz-column-gap: 13.1rem;
       column-gap: 13.1rem;
}
.section-lesson-detail .detail__text {
  margin-top: 1.8rem;
}
.section-lesson-detail .detail__btn:link, .section-lesson-detail .detail__btn:visited {
  font-family: "Codec Pro", sans-serif;
  align-self: flex-start;
  padding: 1rem 2.4rem;
  border-radius: 2.4rem;
  background-color: #27bd63;
  color: #ffffff;
  margin-top: 2.4rem;
}

.section-lesson-explanation {
  position: relative;
}
.section-lesson-explanation .ellipse-photo {
  position: absolute;
  top: 92%;
  width: 100%;
  z-index: 10;
}
@media only screen and (max-width: 53.75em) {
  .section-lesson-explanation .ellipse-photo {
    top: 101%;
  }
}

.lesson-photo {
  margin-bottom: -2rem;
  margin-top: 5.8rem;
}
.lesson-photo img {
  width: 100%;
}

.section-books {
  margin-bottom: 13.9rem;
}

.search-form {
  display: flex;
  grid-column: 2/3;
}
@media only screen and (max-width: 53.75em) {
  .search-form {
    grid-column: 1/-1;
  }
}
.search-form__input {
  padding: 2.1rem 0 2rem 2.1rem;
  border: 1px solid #bdbdbd;
  width: 100%;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.5; /* 150% */
}
@media only screen and (max-width: 37.5em) {
  .search-form__input {
    padding: 1.4rem 0 1.3rem 1.4rem;
  }
}
.search-form__input::-moz-placeholder {
  color: #cecece;
}
.search-form__input::placeholder {
  color: #cecece;
}
.search-form__btn:link, .search-form__btn:visited {
  background-color: #487e64;
  padding: 1.6rem 2.5rem 1.5rem 2.6rem;
}
@media only screen and (max-width: 37.5em) {
  .search-form__btn:link img, .search-form__btn:visited img {
    width: 21.672px;
    height: 21.672px;
  }
}/*# sourceMappingURL=main.css.map */