* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px => 10px /16px =>62.5%

  @include respond(largest) {
    font-size: 56.25%;
  }

  @include respond(large) {
    font-size: 50%;
  }
}

body {
  position: relative;
}
