a:link,
a:visited {
  display: inline-block;
  text-decoration: none;
  color: $color-black;
}

ul {
  list-style: none;
}

span {
  display: inline-block;
}

*:focus {
  outline: none;
  // box-shadow: 0 0 0 0.3rem rgba($color-primary-light, 0.5);
}
