.section-blog-detail {
  margin: 9.8rem 0 4.35rem 0;
}

.back-btn:link,
.back-btn:visited {
  @include flex;
  gap: 1.2rem;
  margin-bottom: 2.3rem;

  p {
    font-family: $font-averta;
    font-size: 2rem;
  }
}

.section-blog--2 {
  background-color: $color-tertiary;
  margin: 0;
  padding: 10rem 0;
}

.section-blog-explanation {
  padding-top: 1.6rem;
  position: relative;

  .explanation {
    background-color: $color-tertiary;
  }
}

.ellipse-photo {
  position: absolute;
  top: 10%;
  width: 100%;
}
