.footer {
  text-align: center;
  padding: 4.4rem 0 3.2rem 0;
  background-color: $color-gray-dark-4;
  font-family: $font-averta;

  &__logo {
    color: $color-secondary;
    font-size: 3.2rem;
    font-weight: 800;
    margin-bottom: 5.4rem;
  }

  &__text {
    color: $color-gray-light-2;
    font-weight: $font-normal;
    line-height: 1.2;
    margin-bottom: 3.2rem;
  }

  &__nav {
  }

  &__nav-list {
    @include flex;
    justify-content: center;
    gap: 1.6rem;
  }

  &__nav-link:link,
  &__nav-link:visited {
    color: $color-white;
    border: 1px solid $color-gray-3;
    padding: 10px 24px 10px 24px;
    border-radius: 24px;
  }

  &__contact-box {
    @include flex;
    justify-content: center;
    gap: 8rem;

    margin-top: 3.05rem;
  }

  &__contact-box div {
    @include flex;
    gap: 1.6rem;
  }

  &__contact-logos {
    @include flex;
    gap: 0.8rem;
  }

  &__contact-link:link,
  &__contact-link:visited {
    font-weight: 300;
    color: $color-white;
  }

  &__auth-box {
    @include flex;
    justify-content: center;
    gap: 2.4rem;

    margin-top: 6.25rem;
  }

  &__register:link,
  &__register:visited,
  &__login:link,
  &__login:visited {
    font-weight: $font-bold;
    color: $color-white;
    padding: 10px;
  }

  &__login:link,
  &__login:visited {
    border: 1px solid $color-white;
  }

  &__register:link,
  &__register:visited {
    background-color: $color-secondary;
  }

  &__title {
    color: $color-gray-lightest;
    font-size: 1.4rem;
    line-height: 1.2;
    margin-top: 8.8rem;

    span {
      color: $color-secondary;
    }
  }
}
