.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $color-white;
  box-shadow: $shadow-gray-1;
  padding: 1.2rem 0;
  z-index: 100;
  height: 7.6rem;

  @include respond(small) {
    height: 9rem;
    padding-top: 18px;
  }
}

.nav {
  @include flex;
  justify-content: space-between;

  &__logo--1 {
    display: block;

    @include respond(small) {
      display: none;
    }
  }

  &__logo--2 {
    display: none;

    @include respond(small) {
      display: block;
    }
  }

  &__list {
    @include flex;
    gap: 8rem;
    position: relative;

    @include respond(large) {
      gap: 6.4rem;
    }
  }

  &__link:link,
  &__link:visited {
    color: $color-gray-dark-1;
    position: relative;
    transition: all 0.3s;

    @include respond(medium) {
      font-size: 3rem;
    }
  }

  &__lang-login-wrapper {
    @include flex;
    gap: 3.2rem;

    @include respond(small) {
      gap: 2rem;
    }
  }

  &__lang {
    font-size: 1.8rem;
    font-weight: 600;
    font-family: inherit;
    cursor: pointer;
    border: none;
    padding: 0.8rem;
  }

  &__login:link,
  &__login:visited {
    @include flex;
    justify-content: center;
    padding: 1.8rem 4.8rem;
    color: $color-white;
    background: $linear-gradient;
    box-shadow: $shadow-primary-1;

    @include respond(small) {
      padding: 9.103px 26.586px 10.897px 25.276px;
    }
  }

  &__burger,
  &__close {
    display: none;
    cursor: pointer;
    transition: opacity 0.1s, transform 0.4s;
  }

  &__close {
    padding-left: 5px;
  }
}

/*  DROPDOWN  */
.nav {
  &__item-dropdown {
    cursor: pointer;
    position: relative;

    // SHOW DROPDOWN MENU
    &:hover .nav__dropdown-menu {
      opacity: 1;
      visibility: visible;
      max-height: 200px;
      pointer-events: auto;
    }

    &:hover .dropdown__arrow {
      transform: rotate(180deg);
      transition: transform 0.2s ease-in;
    }
  }

  &__link-dropdown:link,
  &__link-dropdown:visited {
    @include flex;
    gap: 0.8rem;
  }

  .dropdown__arrow {
    transition: transform 0.2s ease-out;
  }

  &__dropdown-menu {
    position: absolute;
    width: 230px;
    left: 50%;
    transform: translateX(-50%);

    opacity: 0;
    max-height: 0;
    visibility: hidden;
    overflow: hidden;

    padding-top: 10px;
    border-radius: 5px;
    line-height: 1.2;
    background-color: $color-white;

    transition: all 0.3s;

    @include respond(medium) {
      position: relative;
      left: 0;
      transform: translateX(0);
      padding-top: 0;
    }
  }

  &__dropdown-link:link,
  &__dropdown-link:visited {
    padding: 2rem;
    font-weight: $font-thin;
    color: $color-gray-1;
    width: 100%;

    &:hover {
      background-color: $color-gray-lightest;
    }

    @include respond(medium) {
      position: relative;
      left: 0;
      width: 100%;
      font-size: 2rem;
    }
  }
}

/* MOBILE  NAVIAGTION */
@include respond(medium) {
  .nav {
    &__list {
      background-color: $color-white;
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100vh;

      padding: 18px 0 0 20px;

      @include flex-column(44px);
      align-items: flex-start;
      transition: all 0.5s ease-out;
      transform: translateX(-100%);

      z-index: 999;

      /* Hide it visually */
      opacity: 0;

      // /* Make it unaccessible to mouse and keyboard */
      pointer-events: none;

      /* Hide it from screen readers */
      visibility: hidden;
    }

    &__burger {
      display: block;
    }

    &__close {
      display: block;
    }
  }
}

/* SHOW MOBILE NAVIGATION */
.nav--open {
  .nav__list {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }
}
